<h2>Add your costume</h2>

<%= simple_form_for @costume do |f| %>
  <%= f.input :costume_name %>
  <%= f.input :origin %>
  <%= f.input :size %>
  <%= f.input :price %>
  <%= f.input :desc_short %>
  <%= f.input :desc_long %>
  <%= f.submit %>
<% end %>
