<h2>Add your costume</h2>

<%= simple_form_for @costume do |f| %>
  <%= f.input :costume_name, label:"Name of outfit" %>
  <%= f.input :origin, label:"Where was this outfit originally worn?" %>
  <%= f.input :size, label:"Outfit size" %>
  <%= f.input :price, label:"Price to rent per day" %>
  <%= f.input :desc_short, label:"A short description of the outfit" %>
  <%= f.input :desc_long, label:"A longer description of the outfit"  %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class:"btn btn-primary", style:"color: white;" %>
<% end %>
