<div class="container mt-3">
  <h2 class="mb-4">Your Bookings</h2>
  <div class="mt-4">
    <% @bookings.each do |booking| %>
      <%= link_to user_booking_path(current_user.id, booking) do %>
        <div class="card-booking mb-4">
          <% if booking.costume.photo.attached? %>
            <%= cl_image_tag booking.costume.photo.key, height: 100, width: 100, crop: :fill %>
          <% else %>
            <%= image_tag "glittery.jpg", height: 100, width: 100 %>
          <% end %>
          <div class="card-booking-infos d-flex justify-content-between">
            <div>
              <h2><%= booking.costume.costume_name %></h2>
              <p><strong>Collect from: </strong><%= booking.user.address %></p>
            </div>
            <div>
              <h2><%= booking.start_date %> - <%= booking.end_date %></h2>
              <p style="text-align:right">£ <%= (booking.end_date - booking.start_date).to_i * booking.costume.price.to_i %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
